<ng-include src="'/partials/common/header.html'"></ng-include>

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <a style="margin: 15px;" class="btn btn-default btn-lg" href="/document"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Document Mode</a>

        <a style="margin: 15px;" disabled class="btn btn-default btn-lg disabled" href="/project"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Project Mode</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <a style="margin: 15px;" disabled class="btn btn-default btn-lg disabled" href="/document"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Quotation Mode</a>

        <a style="margin: 15px;" class="btn btn-default btn-lg" href="/product"><span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Product Mode</a>
    </div>
</div>