<ng-include src="'/partials/common/header.html'"></ng-include>

<span class="dashboard">
<div class="row">
    <div class="col-xs-3 col-xs-offset-3">
        <a class="btn btn-default btn-lg item button" href="/document"><span class="glyphicon glyphicon-file"
                                                                 aria-hidden="true"></span>
            Document Mode</a>
    </div>

    <div class="col-xs-3 text-right">
        <a href="/project" disabled="" class="disabled btn btn-default btn-lg item button"><span
                class="glyphicon glyphicon-stats"
                aria-hidden="true"></span>Project Mode</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-xs-offset-3">
        <a href="/quotation" disabled="" class="disabled btn btn-default btn-lg item button"><span
                class="glyphicon glyphicon-tag"
                aria-hidden="true"></span>Quotation
            Mode</a>
    </div>
    <div class="col-xs-3 text-right">
        <a href="/product" class=" btn btn-default btn-lg item button"><span
                class="glyphicon glyphicon-apple"
                aria-hidden="true"></span>Product
            Mode</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
        <div id="dashboard-tree" class="item"></div>
    </div>
</div>

</span>

<script>

    function getTree() {
        return [{
            text: 'Product',
            state: {
                expanded: false
            },
            nodes: [{
                text: 'Product Line',
                state: {
                    expanded: false
                },
                nodes: [{
                    text: 'Product Family',
                    nodes: [{
                        text: 'Product Group',
                        nodes: [{text: 'Product Model', nodes: [{text: 'Documents for level 4'}]}]
                    }]
                }]
            }]
        }, {
            text: 'Project',
            state: {
                expanded: false
            },
            nodes: [{
                text: 'System',
                state: {
                    expanded: false
                },
                nodes: [{
                    text: 'System Sections',
                    nodes: [{
                        text: 'Product Model',
                        nodes: [{text: 'Documents for Level 4'}]
                    }]
                }]
            }]
        }, {
            text: 'Quotation',
            state: {
                expanded: false
            },
            nodes: [{
                text: 'System',
                state: {
                    expanded: false
                },
                nodes: [{
                    text: 'System Sections',
                    nodes: [{
                        text: 'Product Model',
                        nodes: [{text: 'Documents for Level 4'}]
                    }]
                }]
            }]
        }];
    }
    ;

    $(document).ready(function () {
        $('#dashboard-tree').treeview({data: getTree()});
    });
</script>

