<table class="table table-condensed table-hover">
    <thead>
    <tr class="info">
        <th>Classification Name</th>
        <th>Classification Id</th>
        <th>Revision</th>
        <th>Classification Type</th>
        <th>Date</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="link in linkCtrl.links">
        <td>{{link.object.name}}</td>
        <td>
            {{link.object.classificationId}}
        </td>
        <td>
        </td>
        <td>
            {{link.object.type}}
        </td>
        <td>
            {{link.creationDate}}
        </td>
        <td>{{link.principal.email}}
        </td>
    </tr>
    </tbody>

</table>