<div class="modal fade" id="password-modal"
     role="dialog"
     aria-labelledby="password-modal-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="password-modal-label">Change Password</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div layout="column">
                        <div class="form-group">
                            <label class="col-xs-6 control-label">Password</label>
                            <div class="col-xs-6">
                                <input name="password" class="form-control"
                                       ng-model="ctrl.password"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ctrl.changePassword()">Change
                </button>
            </div>
        </div>
    </div>
</div>