<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Cepgate</title>

    <link rel="stylesheet" type="text/css" href="/static/css/app/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/app/bootstrap-theme.css"/>

    <link rel="icon" href="/favicon.ico?v=2" />

</head>

<body ng-app="auth" ng-cloak="">

<div id="view" ng-view=""></div>

<!-- JQUERY -->

<script src="/static/js/app/lib/jquery/jquery.js"></script>

<!-- BOOTSTRAP -->

<script src="/static/js/app/lib/bootstrap/bootstrap.js"></script>

<!-- ANGULAR -->

<script src="/static/js/app/lib/angular/angular.js"></script>
<script src="/static/js/app/lib/angular/angular-cookies.js"></script>
<script src="/static/js/app/lib/angular/angular-resource.js"></script>
<script src="/static/js/app/lib/angular/angular-route.js"></script>
<script src="/static/js/app/lib/angular/angular-messages.js"></script>

<!-- CEPGATE -->

<script src="/static/js/app/module/auth.js"></script>
<script src="/static/js/app/controllers/auth-controller.js"></script>
<script src="/static/js/app/controllers/signup-controller.js"></script>

</body>


</html>