<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Cepgate</title>

    <link rel="stylesheet" type="text/css" href="/static/css/app/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/app/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/app/app.css"/>

</head>

<body ng-app="dashboard" ng-cloak="">

<div id="view" ng-view=""></div>

<!-- JQUERY -->

<script src="/static/js/app/lib/jquery/jquery.js"></script>

<!-- BOOTSTRAP -->

<script src="/static/js/app/lib/bootstrap/bootstrap.js"></script>

<script src="/static/js/app/lib/angular/angular.js"></script>
<script src="/static/js/app/lib/angular/angular-cookies.js"></script>
<script src="/static/js/app/lib/angular/angular-resource.js"></script>
<script src="/static/js/app/lib/angular/angular-route.js"></script>
<script src="/static/js/app/lib/angular/angular-animate.js"></script>
<script src="/static/js/app/lib/angular/angular-tags-input.js"></script>
<script src="/static/js/app/lib/angular/angular-file-upload-all.js"></script>
<script src="/static/js/app/lib/angular/angular-smart-table.js"></script>
<script src="/static/js/app/lib/angular/spin.js"></script>
<script src="/static/js/app/lib/angular/angular-spinner.js"></script>
<script src="/static/js/app/lib/angular/angular-loading-spinner.js"></script>
<script src="/static/js/app/lib/angular/angular-messages.js"></script>
<script src="/static/js/app/lib/angular/angular-material.js"></script>
<script src="/static/js/app/lib/angular/angular-aria.js"></script>

<script src="/static/js/app/module/dhd.js"></script>
<script src="/static/js/app/module/dashboard.js"></script>

<script src="/static/js/app/service/principal-service.js"></script>

<script src="/static/js/app/controllers/header-controller.js"></script>


</body>


</html>