<!DOCTYPE html>
<html 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:fragment="page">
<head>
	<base href="/"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap/bootstrap.min.css}" ></link>
		<link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap/bootstrap-responsive.min.css}"></link>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap/bootswatch.less.css"></link>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.vertical-tabs.min.css"></link>
		
		<link rel="stylesheet" type="text/css" href="../css/bootstrap/readable.css"></link>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap/jquery-te-1.4.0.css"></link>
		<link rel="stylesheet" type="text/css" href="../css/magicsuggest-min.css"></link>
		<link rel="stylesheet" type="text/css" href="../css/angular-aside.min.css"></link>
		<link rel="stylesheet" type="text/css" href="../css/dataTable.min.css"></link>
		<link rel="stylesheet" type="text/css" href="../css/ng-table.min.css"></link>
		<link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css"></link>
		<link rel="stylesheet" type="text/css" href="../css/ng-tags-input.min.css"></link>
		<link rel="stylesheet" type="text/css" href="../css/ng-tags-input.bootstrap.min.css"></link>
		<link rel="stylesheet" type="text/css" href="../css/style.css"></link>
	</meta>
</head>
<body id="frontend" layout="row" ng-app="document"> 
	<!-- navigation --> 
	<style type="text/css">
	@media print {
	.noPrint {
	    display:none;
	  }
	 body { size: landscape; }  
	}</style>
	 
	<nav class="navbar navbar-default navbar-static-top" ng-controller="MenuController as menuCtrl">
		<ul class="nav navbar-nav navbar-right" style="display:inline;white-space: nowrap"> 
		 
			<button type="button" class="btn btn-default btn-lg" ng-click="openAside('left')" ng-show="menuCtrl.isAuthenticated">
              <span class="glyphicon glyphicon-align-justify"></span> Menu
            </button>
			 
	</ul>
	</nav> 
	
	<div th:include="this :: content" /> 
	<br />
	<br /> 
	<div class="footer_center noPrint">
	
	</div>
 
	<p align="center" class="noPrint" style="clear:both">
		<i><font face="Arial" size="1">
				Copyright All Rights Reserved. <br />
		</font></i>
	</p>
	<p align="center">&nbsp;</p>

	<script src="../js/jquery/jquery-1.11.1.min.js"></script>
	<script src="../js/jquery/moment.js"></script>
	<script src="../js/jquery/jquery-ui.min.js"></script>
	<script src="../js/bootstrap/bootstrap.min.js"></script>
	<script src="../js/bootstrap/bootstrap-timepicker.min.js"></script>
	<script src="../js/jquery/jquery.shorten.js"></script>
	<script src="../js/jquery/jquery.validate.min.js"></script>
	<script src="../js/jquery/jquery-te-1.4.0.min.js"></script>
	<script src="../js/bootstrap/bootstrap-multiselect.js"></script>
	<script src="../js/jquery/combodate.js"></script>
	<script src="../js/jquery/magicsuggest.js"></script>
	<script src="../js/jquery/angular.js"></script>
	<script src="../js/jquery/angular-aside.min.js"></script>
	<script src="../js/angular/ng-file-upload-shim.min.js"></script>
	<script src="../js/angular/ng-file-upload.min.js"></script>
	<script src="../js/bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script> 
	<script src="../js/angular/dirPagination.js"></script>
	 
	<script src="../js/angular/ng-tags-input.js"></script>
	<script src="../js/angular/angular-dragdrop.min.js"></script>
	<script src="../js/angular/plugins/angular-cookies.js"></script>
	<script src="../js/angular/plugins/angular-resource.js"></script>
	
	<script src="../js/app/client/app.js"></script>
	<script src="../js/app/client/app-menu.js"></script>
	<script src="../js/app/client/app-signup.js"></script>
	<script src="../js/app/client/app-document.js"></script>
	<script src="../js/app/client/app-editdocument.js"></script>
	<script src="../js/app/script.js"></script>
	<script type="text/ng-template" id="aside.html">
      <div class="modal-header">
          <h3 class="modal-title">Menu</h3>
      </div>
      <div class="modal-body">
        <a href="/member/index">Home Page</a><BR />
        <a href="/member/clientusers/index">Users</a><BR />
        <a href="/logout">Logout</a>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="ok($event)">OK</button>
          <button class="btn btn-warning" ng-click="cancel($event)">Cancel</button>
      </div>
    </script>
	
</body>
</html>