<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Cepgate</title>

    <link rel="stylesheet" type="text/css" href="/static/css/app/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/app/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/app/datepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/app/app.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/app/angular-tags-input.bootstrap.css"/>

    <link rel="icon" href="/favicon.ico?v=2" />

</head>

<body ng-app="product" ng-cloak="">

<div id="view" ng-view=""></div>

<!-- JQUERY -->

<script src="/static/js/app/lib/jquery/jquery.js"></script>

<!-- BOOTSTRAP -->

<script src="/static/js/app/lib/bootstrap/bootstrap.js"></script>

<!-- ANGULAR -->

<script src="/static/js/app/lib/angular/angular.js"></script>
<script src="/static/js/app/lib/angular/angular-cookies.js"></script>
<script src="/static/js/app/lib/angular/angular-resource.js"></script>
<script src="/static/js/app/lib/angular/angular-route.js"></script>
<script src="/static/js/app/lib/angular/angular-animate.js"></script>
<script src="/static/js/app/lib/angular/angular-tags-input.js"></script>
<script src="/static/js/app/lib/angular/angular-file-upload-all.js"></script>
<script src="/static/js/app/lib/angular/angular-smart-table.js"></script>
<script src="/static/js/app/lib/angular/spin.js"></script>
<script src="/static/js/app/lib/angular/angular-spinner.js"></script>
<script src="/static/js/app/lib/angular/angular-loading-spinner.js"></script>
<script src="/static/js/app/lib/angular/angular-messages.js"></script>
<script src="/static/js/app/lib/angular/angular-material.js"></script>
<script src="/static/js/app/lib/angular/angular-aria.js"></script>

<script src="/static/js/app/lib/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>

<!-- CEPGATE -->

<script src="/static/js/app/lib/cg.js"></script>
<script src="/static/js/app/controllers/cg-list-controller.js"></script>

<!-- MODULE -->

<script src="/static/js/app/module/common.js"></script>
<script src="/static/js/app/module/product.js"></script>

<!-- SERVICE -->

<script src="/static/js/app/service/settings/settings-service.js"></script>
<script src="/static/js/app/service/principal-service.js"></script>
<script src="/static/js/app/service/classification-service.js"></script>
<script src="/static/js/app/service/product-service.js"></script>
<script src="/static/js/app/service/tab-service.js"></script>

<!-- DIRECTIVE -->

<script src="/static/js/app/directive/angular-add-tab-directive.js"></script>
<script src="/static/js/app/directive/angular-close-tab-directive.js"></script>
<script src="/static/js/app/directive/refresh-tab-directive.js"></script>
<script src="/static/js/app/directive/cg-validate.js"></script>
<script src="/static/js/app/directive/cg-add-tab.js"></script>
<script src="/static/js/app/directive/cg-close-tab.js"></script>


<!-- CONTROLLER -->

<script src="/static/js/app/controllers/header-controller.js"></script>
<script src="/static/js/app/controllers/product/product-list-controller.js"></script>
<script src="/static/js/app/controllers/product/product-controller.js"></script>


</body>


</html>