body {
    padding-top: 65px;
}

div.tab-content {
    padding-top: 10px;
}

.st-selected {
    background-color: #f5f5f5;
}

.btn-icon span {
    margin-right: 5px;
}

.sidebar-entry{
    margin:10px;
}

.drop-box {
    background: #F8F8F8;
    border: 3px dashed #DDD;
    height: 80px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 3px dashed #337ab7;
}

table.with-top-margin {
    margin-top: 10px;
}