<div class="with-top-padding">
    <span us-spinner="{radius:30, width:8, length: 16}"></span>

        <!-- 1 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'clientName'}">
                    <label class="col-xs-6 control-label">Client Name</label>
                    <div class="col-xs-6">
                        <input name="clientName" class="form-control" ng-model="ctrl.model.clientName"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'clientNumber'}">
                    <label class="col-xs-6 control-label">Client Number</label>
                    <div class="col-xs-6">
                        <input name="clientNumber" class="form-control" ng-model="ctrl.model.clientNumber"/>
                    </div>
                </div>
            </div>

        </div>

        <!-- 2 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'clientCountry'}">
                    <label class="col-xs-6 control-label">Client Country</label>
                    <div class="col-xs-6">
                        <input name="clientCountry" class="form-control" ng-model="ctrl.model.clientCountry"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'clientVatRegNo'}">
                    <label class="col-xs-6 control-label">Client VAT reg. Number</label>
                    <div class="col-xs-6">
                        <input name="clientVatRegNo" class="form-control" ng-model="ctrl.model.clientVatRegNo"/>
                    </div>
                </div>
            </div>

        </div>

        <!-- 3 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'clientContactPerson'}">
                    <label class="col-xs-6 control-label">Client Contact Person</label>
                    <div class="col-xs-6">
                        <input name="clientContactPerson" class="form-control"
                               ng-model="ctrl.model.clientContactPerson"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'endCustomer'}">
                    <label class="col-xs-6 control-label">End Customer</label>
                    <div class="col-xs-6">
                        <input name="endCustomer" class="form-control" ng-model="ctrl.model.endCustomer"/>
                    </div>
                </div>
            </div>

        </div>

        <!-- 4 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'endCustomerCountry'}">
                    <label class="col-xs-6 control-label">End Customer Country</label>
                    <div class="col-xs-6">
                        <input name="endCustomerCountry" class="form-control"
                               ng-model="ctrl.model.endCustomerCountry"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'endCustomerPlant'}">
                    <label class="col-xs-6 control-label">End Customer Plant</label>
                    <div class="col-xs-6">
                        <input name="endCustomerPlant" class="form-control" ng-model="ctrl.model.endCustomerPlant"/>
                    </div>
                </div>
            </div>

        </div>

        <!-- 5 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'deliveryAddress'}">
                    <label class="col-xs-6 control-label">Delivery Address</label>
                    <div class="col-xs-6">
                        <textarea rows="3" name="deliveryAddress" class="form-control"
                                  ng-model="ctrl.model.deliveryAddress"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'clientAddress'}">
                    <label class="col-xs-6 control-label">Client Address</label>
                    <div class="col-xs-6">
                        <textarea rows="3" name="clientAddress" class="form-control"
                                  ng-model="ctrl.model.clientAddress"/>
                    </div>
                </div>
            </div>

        </div>

        <!-- BUTTONS -->

        <div class="row">

            <div class="col-xs-12 text-right">
                <button class="btn btn-xs btn-primary" ng-click="ctrl.saveModel()">Save</button>
            </div>

        </div>

</div>