<div class="with-top-padding">
    <span us-spinner="{radius:30, width:8, length: 16}"></span>

    <form name="ctrl.quotationForm" class="form-horizontal">

        <!-- 1 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'classificationName'}">
                    <label class="col-xs-6 control-label">Classification Name</label>
                    <div class="col-xs-6">
                        <select ng-change="ctrl.onClassificationSelected()" name="classificationName"
                                ng-model="ctrl.quotation.classification.id"
                                class="form-control" required="">
                            <option ng-repeat="c in ctrl.classifications" value="{{c.id}}">{{c.name}}
                                ({{c.classificationId}})
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'classificationId'}">
                    <label class="col-xs-6 control-label">Classification Id</label>
                    <div class="col-xs-6">
                        <input ng-readonly="true" name="classificationId" disabled class="disabled form-control"
                               ng-model="ctrl.quotation.classification.classificationId" required=""/>
                    </div>
                </div>
            </div>

        </div>

        <!-- 2 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'name'}">
                    <label class="col-xs-6 control-label">Quotation Name</label>
                    <div class="col-xs-6">
                        <input name="name" class="form-control" ng-model="ctrl.quotation.name"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'symbol'}">
                    <label class="col-xs-6 control-label">Quotation Number</label>
                    <div class="col-xs-6">
                        <input name="symbol" class="form-control" ng-model="ctrl.quotation.symbol"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'startDate'}">
                    <label class="col-xs-6 control-label">Quotation Start Date</label>
                    <div class="col-xs-6">
                        <input name="startDate" class="form-control" ng-model="ctrl.quotation.startDate"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'endCustomer'}">
                    <label class="col-xs-6 control-label">End Customer</label>
                    <div class="col-xs-6">
                        <input name="endCustomer" class="form-control" ng-model="ctrl.quotation.endCustomer"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 4 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'customerInspectionDate'}">
                    <label class="col-xs-6 control-label">Customer Inspection Date</label>
                    <div class="col-xs-6">
                        <input name="customerInspectionDate" class="form-control"
                               ng-model="ctrl.quotation.customerInspectionDate"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'endCustomerCountry'}">
                    <label class="col-xs-6 control-label">End Customer Country</label>
                    <div class="col-xs-6">
                        <input name="endCustomerCountry" class="form-control"
                               ng-model="ctrl.quotation.endCustomerCountry"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 5 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'shipmentDate'}">
                    <label class="col-xs-6 control-label">Shipment Date</label>
                    <div class="col-xs-6">
                        <input name="shipmentDate" class="form-control" ng-model="ctrl.quotation.shipmentDate"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'endCustomerPlant'}">
                    <label class="col-xs-6 control-label">End Customer Plant</label>
                    <div class="col-xs-6">
                        <input name="endCustomerPlant" class="form-control" ng-model="ctrl.quotation.endCustomerPlant"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 6 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'deliveryDate'}">
                    <label class="col-xs-6 control-label">Delivery Date</label>
                    <div class="col-xs-6">
                        <input name="deliveryDate" class="form-control" ng-model="ctrl.quotation.deliveryDate"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'creationDate'}">
                    <label class="col-xs-6 control-label">Quotation Creation Date</label>
                    <div class="col-xs-6">
                        <input ng-readonly="true" name="creationDate" disabled class="disabled form-control" ng-model="ctrl.quotation.creationDate"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 7 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'endDate'}">
                    <label class="col-xs-6 control-label">Quotation End Date</label>
                    <div class="col-xs-6">
                        <input name="endDate" class="form-control" ng-model="ctrl.quotation.endDate"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'principal'}">
                    <label class="col-xs-6 control-label">Quotation Created By</label>
                    <div class="col-xs-6">
                        <input ng-readonly="true" name="principal" disabled class="disabled form-control" ng-model="ctrl.quotation.principal.email"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 8 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'clientNumber'}">
                    <label class="col-xs-6 control-label">Client Number</label>
                    <div class="col-xs-6">
                        <input name="clientNumber" class="form-control" ng-model="ctrl.quotation.clientNumber"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'qicManager'}">
                    <label class="col-xs-6 control-label">Quotation Manager</label>
                    <div class="col-xs-6">
                        <select name="qicManager" class="form-control" ng-model="ctrl.quotation.qicManager.id">
                            <option ng-repeat="p in ctrl.principals" value="{{p.id}}">{{p.email}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- 9 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'clientName'}">
                    <label class="col-xs-6 control-label">Client Name</label>
                    <div class="col-xs-6">
                        <input name="clientName" class="form-control" ng-model="ctrl.quotation.clientName"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'masterNumber'}">
                    <label class="col-xs-6 control-label">Master Quotation Number</label>
                    <div class="col-xs-6">
                        <input ng-readonly="true" name="masterNumber" disabled class="disabled form-control" ng-model="ctrl.quotation.masterNumber"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 10 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'clientCountry'}">
                    <label class="col-xs-6 control-label">Client Country</label>
                    <div class="col-xs-6">
                        <input name="clientCountry" class="form-control" ng-model="ctrl.quotation.clientCountry"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'tba'}">
                    <label class="col-xs-6 control-label">TBA</label>
                    <div class="col-xs-6">
                        <input name="tba" class="form-control" ng-model="ctrl.quotation.tba"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- 11 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'clientVatRegNo'}">
                    <label class="col-xs-6 control-label">Client VAT reg. Number</label>
                    <div class="col-xs-6">
                        <input name="clientVatRegNo" class="form-control" ng-model="ctrl.quotation.clientVatRegNo"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'value'}">
                    <label class="col-xs-6 control-label">Quotation Value</label>
                    <div class="col-xs-6">
                        <input name="value" class="form-control" ng-model="ctrl.quotation.value"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- 12 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'clientContactPerson'}">
                    <label class="col-xs-6 control-label">Client Contact Person</label>
                    <div class="col-xs-6">
                        <input name="clientContactPerson" class="form-control"
                               ng-model="ctrl.quotation.clientContactPerson"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'cost'}">
                    <label class="col-xs-6 control-label">Quotation Cost</label>
                    <div class="col-xs-6">
                        <input name="cost" class="form-control" ng-model="ctrl.quotation.cost"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 13 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'clientAddress'}">
                    <label class="col-xs-6 control-label">Client Address</label>
                    <div class="col-xs-6">
                        <textarea rows="6" name="clientAddress" class="form-control"
                                  ng-model="ctrl.quotation.clientAddress"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'grossMargin'}">
                    <label class="col-xs-6 control-label">Quotation Gross Margin</label>
                    <div class="col-xs-6">
                        <input name="grossMargin" class="form-control" ng-model="ctrl.quotation.grossMargin"/>
                    </div>
                </div>

                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'comments'}">
                    <label class="col-xs-6 control-label">Internal Comments</label>
                    <div class="col-xs-6">
                        <input name="comments" class="form-control" ng-model="ctrl.quotation.comments"/>
                    </div>
                </div>

                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'comments'}">
                    <label class="col-xs-6 control-label">Internal Comments</label>
                    <div class="col-xs-6">
                        <input name="comments" class="form-control" ng-model="ctrl.quotation.comments"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 14 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.quotationForm, field: 'deliveryAddress'}">
                    <label class="col-xs-6 control-label">Delivery Address</label>
                    <div class="col-xs-6">
                        <textarea rows="3" name="deliveryAddress" class="form-control"
                                  ng-model="ctrl.quotation.deliveryAddress"/>
                    </div>
                </div>
            </div>

        </div>


        <!-- BUTTONS -->

        <div class="row">

            <div class="col-xs-12 text-right">
                <button class="btn btn-xs btn-primary" ng-click="ctrl.saveQuotation()">Save</button>
            </div>

        </div>

    </form>

</div>