<form ng-controller="SignUpController as ctrl" name="signupForm" autocomplete="off" class="form-horizontal">
    <div align="center">
        <h1>Signup Form</h1>
    </div>
    <div class="col-sm-offset-3 col-md-8 col-md-offset-3">

        <ng-include src="'/partials/auth/sign-up-form.html'"></ng-include>

        <div class="form-group">
            <div class="col-sm-7" style="text-align:center">
                <button ng-click="signUp()">Signup</button>
            </div>
        </div>

    </div>
</form>