<div class="row">
    <div class="col-xs-12">
        <ul id="{{ctrl.model.id}}-document-details-tabs" class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#metadata-{{ctrl.model.id}}" aria-controls="metadata-{{ctrl.model.id}}" role="tab"
                                                      data-toggle="tab">Metadata</a></li>
            <li role="presentation" class=""><a href="#dic-content-{{ctrl.model.id}}" aria-controls="dic-content-{{ctrl.model.id}}" role="tab"
                                                data-toggle="tab">Content</a></li>
        </ul>

        <div class="tab-content" id="{{ctrl.model.id}}-document-details-tabs-content">
            <div role="tabpanel" class="tab-pane active" id="metadata-{{ctrl.model.id}}">
                <ng-include src="'/partials/document/details/metadata-tab.html'"></ng-include>
            </div>
            <div role="tabpanel" class="tab-pane" id="dic-content-{{ctrl.model.id}}">
                <ng-include src="'/partials/document/details/content-tab.html'"></ng-include>
            </div>
        </div>
    </div>
</div>