<div class="with-top-padding">
    <span us-spinner="{radius:30, width:8, length: 16}"></span>

    <form name="ctrl.modelForm" class="form-horizontal">

        <div class="row">

            <div class="col-xs-6">

                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'classificationName'}">
                    <label class="col-xs-6 control-label">Classification Name</label>
                    <div class="col-xs-6">
                        <select ng-readonly="ctrl.readonly()==true" ng-change="ctrl.onClassificationSelected()" name="classificationName"
                                ng-model="ctrl.model.classification.id"
                                class="form-control" required="">
                            <option ng-repeat="c in ctrl.classifications" value="{{c.id}}">{{c.name}}
                                ({{c.classificationId}})
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'internalExternal'}">
                    <label class="col-xs-6 control-label">Internal/External</label>
                    <div class="col-xs-6">
                        <select ng-readonly="ctrl.readonly==true" name="internalExternal" class="form-control"
                                ng-model="ctrl.model.kind"
                                id="internalExternal" required="">
                            <option value="INTERNAL">Internal</option>
                            <option value="EXTERNAL">External</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'docType'}">
                    <label class="col-xs-6 control-label">Document Type</label>
                    <div class="col-xs-6">
                        <select ng-change="ctrl.onTypeSelected()" ng-readonly="ctrl.readonly() == true" name="docType" ng-model="ctrl.model.docType.id"
                                class="form-control" id="docType" required="">
                            <option ng-repeat="dt in ctrl.types" value="{{dt.id}}">{{dt.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'documentNumber'}">
                    <label class="col-xs-6 control-label">Document Number</label>
                    <div class="col-xs-6">
                        <input ng-readonly="ctrl.readonly()==true" class="form-control" name="documentNumber"
                               id="documentNumber"
                               ng-model="ctrl.model.documentNumber" required=""/>
                    </div>
                </div>

                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'plannedIssueDate'}">
                    <label class="col-xs-6 control-label">Planned Issue Date</label>
                    <div class="col-xs-6">
                        <input ng-readonly="ctrl.readonly()==true" type="text" class="form-control"
                               ng-model="ctrl.model.plannedIssueDate"
                               name="plannedIssueDate"
                               id="plannedIssueDate"/>
                        <script>

                            $(document).ready(function () {
                                $('#plannedIssueDate').datepicker({
                                    format: 'mm/dd/yyyy'
                                });
                            });
                        </script>
                    </div>
                </div>

                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'responsibleUser'}">
                    <label class="col-xs-6 control-label">Document Responsible</label>
                    <div class="col-xs-6">
                        <select ng-readonly="ctrl.readonly()==true" name="responsibleUser"
                                ng-model="ctrl.model.responsibleUser.id"
                                class="form-control" id="responsibleUser" required="">
                            <option ng-repeat="u in ctrl.principals" value="{{u.id}}">{{u.email}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'documentName'}">
                    <label class="col-xs-6 control-label">Document Title</label>
                    <div class="col-xs-6">
                        <textarea ng-readonly="ctrl.readonly()==true" class="form-control" ng-maxlength="300"
                                  ng-model="ctrl.model.documentName"
                                  name="documentName"
                                  id="documentName" rows="3" cols="20" required=""/>
                    </div>
                </div>

            </div>


            <div class="col-xs-6">

                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'classificationId'}">
                    <label class="col-xs-6 control-label">Document Title</label>
                    <div class="col-xs-6">
                        <input ng-readonly="true" disabled id="classificationId" class="disabled form-control" ng-model="ctrl.model.classification.classificationId"/>
                    </div>
                </div>

                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'securityGroup'}">
                    <label class="col-xs-6 control-label">Security Group</label>
                    <div class="col-xs-6">
                        <select ng-readonly="ctrl.readonly()==true" placeholder="Security Group" class="form-control"
                                name="securityGroup"
                                id="securityGroup"
                                ng-model="ctrl.model.securityGroup" required="">
                            <option value="User">User</option>
                            <option value="Sales">Sales</option>
                            <option value="Management">Management</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'docTypeId'}">
                    <label class="col-xs-6 control-label">Document Type ID</label>
                    <div class="col-xs-6">
                        <input ng-readonly="true" disabled id="docTypeId" class="disabled form-control" ng-model="ctrl.model.docType.typeId"/>
                    </div>
                </div>

                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'masterDocumentNumber'}">
                    <label class="col-xs-6 control-label">Master Document Number</label>
                    <div class="col-xs-6">
                        <input class="form-control disabled" ng-readonly="true" id="masterDocumentNumber"
                               ng-model="ctrl.model.masterDocumentNumber" required=""/>
                    </div>
                </div>

                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'creationDate'}">
                    <label class="col-xs-6 control-label">Document Creation Date</label>
                    <div class="col-xs-6">
                        <input type="text" ng-readonly="true" class="form-control disabled"
                               ng-model="ctrl.model.creationDate"
                               name="creationDate"
                               id="creationDate"
                               required=""/>
                    </div>
                </div>

                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'createdBy'}">
                    <label class="col-xs-6 control-label">Created by</label>
                    <div class="col-xs-6">
                        <input class="form-control disabled" ng-readonly="true" name="createdBy" id="createdBy"
                               ng-model="ctrl.model.createdBy.email"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-6 control-label">Tags</label>
                    <div class="col-xs-6">
                        <tags-input ng-readonly="ctrl.readonly()==true" ng-model="ctrl.model.tags" id="tags"
                                    name="tags"/>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-xs-6">

                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'provider'}">
                    <label class="col-xs-6 control-label">Document Provider</label>
                    <div class="col-xs-6">
                        <select class="form-control" ng-readonly="ctrl.readonly()==true" name="provider" ng-model="ctrl.model.provider">
                            <option value="COMPANY">Company</option>
                            <option value="SUPPLIER">Supplier</option>
                            <option value="CUSTOMER">Customer</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">

                <div class="alert alert-info" ng-if="ctrl.archived()==true">
                    <div class="row">
                        <div class="col-xs-10">This document is archived.
                        </div>
                    </div>
                </div>

                <div class="alert alert-info" ng-if="ctrl.revision==true">
                    <div class="row">
                        <div class="col-xs-10">
                            <strong>Warning!</strong> This is a revision of the document
                        </div>
                        <div class="col-xs-2 text-right">
                            <button ng-if="ctrl.revision==true" class="btn btn-info btn-xs" ng-click="ctrl.returnToCurrentRevision()">
                                Back
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-4 col-xs-offset-4 text-right">
                <input ng-if="ctrl.readonly()==false" class="btn btn-primary" type="button" ng-click="ctrl.saveDocument()" value="Save"/>

                <input ng-if="revision==false && ctrl.isFavourite()==false" class="btn btn-warning"
                       type="button"
                       ng-click="ctrl.favourite()" value="Mark as favourite"/>

                <input ng-if="revision==false && ctrl.isFavourite()==true" class="btn btn-default"
                       type="button"
                       ng-click="ctrl.unFavourite()" value="UnMark as favourite"/>

                <input type="button" ng-if="ctrl.readonly()==false && ctrl.model.id" class="btn btn-info" ng-click="ctrl.archive()" value="Archive"/>

                <input type="button" ng-if="revision==false && documentInfo.state == 'ARCHIVED'" class="btn btn-info" ng-click="ctrl.createRevision()" value="Create New Revison"/>
            </div>
        </div>

    </form>

    <ul id="details-{{ctrl.model.id}}-tabs" class="nav nav-pills" role="tablist">
        <li role="presentation" class="active">
            <a href="#in-progress-{{ctrl.model.id}}" aria-controls="in-progress-{{ctrl.model.id}}" role="tab"
               data-toggle="tab">
                <span ng-if="ctrl.archived()==true">
                    Archived revision
                </span>
                <span ng-if="ctrl.revision == true">
                    Revision {{ctrl.model.revision.prefix}}
                </span>
                <span ng-if="ctrl.model.state != 'ARCHIVED' && ctrl.revision == false">
                    Current Revision
                </span>
            </a>
        </li>
        <li has-role="DOCUMENT_CONTROL,MANAGEMENT" ng-if="ctrl.revision==false" role="presentation" class=""><a href="#history-{{ctrl.model.id}}"
                                                                    aria-controls="history-{{ctrl.model.id}}"
                                                                    role="tab"
                                                                    data-toggle="tab">Revision History</a>
        </li>
        <li ng-if="ctrl.revision==false" role="presentation" class=""><a href="#comments-{{ctrl.model.id}}"
                                                                    aria-controls="comments-{{ctrl.model.id}}"
                                                                    role="tab"
                                                                    data-toggle="tab">Comments</a></li>
        <li ng-if="ctrl.revision==false" role="presentation" class=""><a href="#links-{{ctrl.model.id}}"
                                                                    aria-controls="links-{{ctrl.model.id}}" role="tab"
                                                                    data-toggle="tab">Links</a></li>
    </ul>

    <div class="tab-content" id="details-{{ctrl.model.id}}-tabs-content">

        <div role="tabpanel" class="tab-pane active" id="in-progress-{{ctrl.model.id}}">

            <div class="row text-left">
                    <div class="col-xs-3 form-group" form-error="" form="form.documentForm" field="state" messages='{"required":"This field is required"}'>
                        <div class="row">
                            <label for="state" class="col-xs-2 control-label">State</label>
                            <div class="col-xs-6">
                                <input class="form-control disabled" name="state" id="state"
                                       ng-model="ctrl.model.state" ng-readonly="true"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-3 form-group" form-error="" form="form.documentForm" field="revision"
                         messages='{"required":"This field is required"}'>
                        <div class="row">
                            <label for="revision" class="col-xs-2 control-label">Revision</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input ng-readonly="ctrl.readonly()==true" class="form-control" name="revision"
                                           id="revision"
                                           ng-model="ctrl.model.revision.prefix">
                                    <!--<span class="input-group-addon">{{documentInfo.revision.number}}</span>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group" form-error="" form="form.documentForm" field="archivedDate"
                         messages='{"required":"This field is required"}'>
                        <div class="row">
                            <label for="revision" class="col-xs-4 control-label">Revision Date</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input ng-readonly="true" class="form-control" disabled name="archivedDate"
                                           id="archivedDate"
                                           ng-model="ctrl.model.archivedDate">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <ng-include src="'/partials/document/files.html'"></ng-include>
        </div>
        <div role="tabpanel" class="tab-pane" id="history-{{ctrl.model.id}}">
            <ng-include src="'/partials/document/history.html'"></ng-include>
        </div>
        <div role="tabpanel" class="tab-pane" id="comments-{{ctrl.model.id}}">
            <ng-include src="'/partials/document/comments.html'"></ng-include>
        </div>
        <div role="tabpanel" class="tab-pane" id="links-{{ctrl.model.id}}">
            <ng-include ng-controller="LinkController as linkCtrl" src="'/partials/common/links.html'" ng-init="linkCtrl.setLinkable(ctrl.model,'document')"></ng-include>
        </div>
    </div>

</div>