<div class="with-top-padding">

    <ul id="details-{{ctrl.model.id}}-tabs" class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#metadata-{{ctrl.model.id}}" aria-controls="metadata-{{ctrl.model.id}}" role="tab"
                                                  data-toggle="tab">Metadata</a></li>
        <li role="presentation">
            <a href="#in-progress-{{ctrl.model.id}}" aria-controls="in-progress-{{ctrl.model.id}}" role="tab"
               data-toggle="tab">
                <span ng-if="ctrl.archived()==true">
                    Archived revision
                </span>
                <span ng-if="ctrl.revision == true">
                    Revision {{ctrl.model.revision.prefix}}
                </span>
                <span ng-if="ctrl.model.state != 'ARCHIVED' && ctrl.revision == false">
                    Current Revision
                </span>
            </a>
        </li>
        <li ng-if="ctrl.revision==false" role="presentation" class=""><a href="#history-{{ctrl.model.id}}"
                                                                         aria-controls="history-{{ctrl.model.id}}"
                                                                         role="tab"
                                                                         data-toggle="tab">Revision History</a>
        </li>
        <li ng-if="ctrl.revision==false" role="presentation" class=""><a href="#comments-{{ctrl.model.id}}"
                                                                         aria-controls="comments-{{ctrl.model.id}}"
                                                                         role="tab"
                                                                         data-toggle="tab">Comments</a></li>
        <li ng-if="ctrl.revision==false" role="presentation" class=""><a href="#links-{{ctrl.model.id}}"
                                                                         aria-controls="links-{{ctrl.model.id}}"
                                                                         role="tab"
                                                                         data-toggle="tab">Links</a></li>
        <li ng-if="ctrl.revision==false" role="presentation" class=""><a href="#where-used-{{ctrl.model.id}}"
                                                                         aria-controls="where-used-{{ctrl.model.id}}"
                                                                         role="tab"
                                                                         data-toggle="tab">Where used</a></li>
    </ul>

    <div class="tab-content" id="details-{{ctrl.model.id}}-tabs-content">

        <div role="tabpanel" class="tab-pane active" id="metadata-{{ctrl.model.id}}">
            <ng-include src="'/partials/document/details/metadata-tab.html'"></ng-include>
        </div>

        <div role="tabpanel" class="tab-pane" id="in-progress-{{ctrl.model.id}}">

            <div class="row text-left">
                <div class="col-xs-3 form-group" form-error="" form="form.documentForm" field="state"
                     messages='{"required":"This field is required"}'>
                    <div class="row">
                        <label for="state" class="col-xs-2 control-label">State</label>
                        <div class="col-xs-6">
                            <input class="form-control disabled" name="state"
                                   ng-model="ctrl.model.state" ng-readonly="true"/>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 form-group" form-error="" form="form.documentForm" field="revision"
                     messages='{"required":"This field is required"}'>
                    <div class="row">
                        <label for="revision" class="col-xs-2 control-label">Revision</label>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <input ng-readonly="ctrl.readonly()==true" class="form-control" name="revision"
                                       ng-model="ctrl.model.revision.prefix">
                                <!--<span class="input-group-addon">{{documentInfo.revision.number}}</span>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 form-group" form-error="" form="form.documentForm" field="archivedDate"
                     messages='{"required":"This field is required"}'>
                    <div class="row">
                        <label for="revision" class="col-xs-4 control-label">Revision Date</label>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <input ng-readonly="true" class="form-control" disabled name="archivedDate"
                                       ng-model="ctrl.model.archivedDate">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ng-include src="'/partials/document/files.html'"></ng-include>
        </div>
        <div role="tabpanel" class="tab-pane" id="history-{{ctrl.model.id}}">
            <ng-include src="'/partials/document/history.html'"></ng-include>
        </div>
        <div role="tabpanel" class="tab-pane" id="comments-{{ctrl.model.id}}">
            <ng-include src="'/partials/document/comments.html'"></ng-include>
        </div>
        <div role="tabpanel" class="tab-pane" id="links-{{ctrl.model.id}}">
            <ng-include ng-controller="LinkController as linkCtrl" src="'/partials/common/dic-links.html'"
                        ng-init="linkCtrl.getLinks(ctrl.model,'document',true)"></ng-include>
        </div>
        <div role="tabpanel" class="tab-pane" id="where-used-{{ctrl.model.id}}">
            <ng-include ng-controller="LinkController as linkCtrl" src="'/partials/common/links.html'"
                        ng-init="linkCtrl.getLinks(ctrl.model,'document',false)"></ng-include>
        </div>
    </div>

    <div class="col-xs-12">

        <div class="alert alert-info" ng-if="ctrl.revision==true">
            <div class="row">
                <div class="col-xs-10">
                    <strong>Warning!</strong> This is a revision of the document
                </div>
                <div class="col-xs-2 text-right">
                    <button ng-if="ctrl.revision==true" class="btn btn-info btn-xs"
                            ng-click="ctrl.returnToCurrentRevision()">
                        Back
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>