<div class="row" style="margin-top: 10px;">

    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th colspan="2"></th>
                <th class="text-right">
                    <form ng-if="ctrl.readonly()==false">
                        <div>
                        <div ng-if="ctrl.model.id" style="float:right;" class="btn btn-info btn-xs"
                             ngf-select="ctrl.uploadFiles()"
                             ngf-keep="false" ng-model="ctrl.files" ngf-multiple="true">Add files
                        </div>
                        <div style="float:right;" ng-if="!ctrl.model.id"
                             class="btn btn-info btn-xs"
                             ngf-keep="true"
                             ng-model="ctrl.files" ngf-multiple="true" ngf-select="ctrl.selectNewFiles(ctrl.files)">Add files
                        </div>
                        <button style="float:right;" ng-if="ctrl.model.id && ctrl.readonly()==false" class="btn btn-info btn-xs" data-toggle="modal" data-target="#templates-modal-{{ctrl.model.id}}">Add From Template</button>
                            <ng-include src="'/partials/document/templates/templates-modal.html'"></ng-include>
                        </div>
                    </form>
                </th>
            </tr>
            <tr class="info">
                <th>#</th>
                <th>File Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="ctrl.model.id" ng-repeat="fileInfo in ctrl.model.files">
                <td ng-click="ctrl.openFile(fileInfo.symbol)">{{$index+1}}</td>
                <td ng-click="ctrl.openFile(fileInfo.symbol)">{{fileInfo.name}}</td>
                <td>
                    <div ng-disabled="fileInfo.locked==true" ng-if="ctrl.readonly()==false" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete-file-modal-{{fileInfo.id}}">
                        Delete
                    </div>
                    <div ng-disabled="fileInfo.locked==true" ng-if="ctrl.readonly()==false" data-toggle="modal" data-target="#file-name-modal-{{fileInfo.id}}"
                         class="btn btn-info btn-xs">Change name
                    </div>
                    <div class="btn btn-primary btn-xs" ng-if="fileInfo.locked==false" ng-click="ctrl.openOnDesktop(fileInfo)">Check out file for edit</div>
                    <div ng-if="fileInfo.locked==true" class="btn btn-primary btn-xs" ng-click="ctrl.unlockFile(fileInfo)">Check in file</div>
                    <div ng-if="fileInfo.locked==true" class="btn btn-primary btn-xs" ng-click="ctrl.refreshStatus(ctrl.model.id)">Refresh status</div>
                    <ng-include src="'/partials/document/file-name-modal.html'"></ng-include>
                    <ng-include src="'/partials/document/files/confirmation-modal.html'"></ng-include>
                </td>
            </tr>
            <tr ng-if="!ctrl.model.id" ng-repeat="file in ctrl.files">
                <td>{{$index+1}}</td>
                <td>{{file.name}}</td>
                <td>
                    <div class="btn btn-danger btn-xs" ng-click="ctrl.deleteNewFile($index)">Delete</div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <form ng-if="ctrl.readonly()==false">
                        <div ng-if="ctrl.model.id" ngf-drop="ctrl.uploadFiles()" class="drop-box"
                             ngf-drag-over-class="'dragover'" ng-model="ctrl.files" ngf-multiple="true">Drop files here
                        </div>
                        <div ng-if="!ctrl.model.id" class="drop-box"
                             ngf-drag-over-class="'dragover'" ng-model="ctrl.files" ngf-drop="ctrl.selectNewFiles(ctrl.files)" ngf-multiple="true">Drop files here
                        </div>
                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>