<div class="row" style="margin-top: 10px;">

    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
            <tr ng-controller="TemplateController as tctrl" ng-init="tctrl.getTemplates()">
                <th colspan="2"></th>
                <th class="text-right">
                    <select ng-if="documentInfo.id && readonly()==false" class="form-control" ng-model="selectedTemplate.id" id="selectedTemplate" name="selectedTemplate">
                        <option ng-repeat="t in templates" value="{{t.id}}">{{t.file.name}}</option>
                    </select>
                    <form ng-if="readonly()==false">
                        <div>
                        <div ng-if="documentInfo.id" style="float:right;" class="btn btn-info btn-xs"
                             ngf-select="uploadFiles(files,documentInfo.id)"
                             ngf-keep="false" ng-model="files" ngf-multiple="true">Add files
                        </div>
                        <div style="float:right;" ngf-select="selectNewFiles(files)" ng-if="!documentInfo.id"
                             class="btn btn-info btn-xs"
                             ngf-keep="true"
                             ng-model="files" ngf-multiple="true">Add files
                        </div>
                        <button style="float:right;" ng-if="documentInfo.id && readonly()==false" class="btn btn-info btn-xs" ng-click="addFileFromTemplate(documentInfo.id)">Add From Template</button>
                        </div>
                    </form>
                </th>
            </tr>
            <tr class="info">
                <th>#</th>
                <th>File Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="documentInfo.id" ng-repeat="fileInfo in documentInfo.files">
                <td ng-click="openFile(fileInfo.symbol)">{{$index+1}}</td>
                <td ng-click="openFile(fileInfo.symbol)">{{fileInfo.name}}</td>
                <td>
                    <div ng-if="readonly()==false" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete-file-modal-{{fileInfo.id}}">
                        Delete
                    </div>
                    <div ng-if="readonly()==false" data-toggle="modal" data-target="#file-name-modal-{{fileInfo.id}}"
                         class="btn btn-info btn-xs">Change name
                    </div>
                    <ng-include src="'/partials/document/file-name-modal.html'"></ng-include>
                    <ng-include src="'/partials/document/files/confirmation-modal.html'"></ng-include>
                </td>
            </tr>
            <tr ng-if="!documentInfo.id" ng-repeat="file in files">
                <td>{{$index+1}}</td>
                <td>{{file.name}}</td>
                <td>
                    <div class="btn btn-danger btn-xs" ng-click="deleteNewFile($index)">Delete</div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <form ng-if="readonly()==false">
                        <div ng-if="documentInfo.id" ngf-drop="uploadFiles(files,documentInfo.id)" class="drop-box"
                             ngf-drag-over-class="'dragover'" ng-model="files" ngf-multiple="true">Drop files here
                        </div>
                        <div ng-if="!documentInfo.id" ngf-drop="selectNewFiles(files)" class="drop-box"
                             ngf-drag-over-class="'dragover'" ng-model="files" ngf-multiple="true">Drop files here
                        </div>
                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>