<style>
    .animate-row {
        -webkit-animation: fadeInFromNone 2s ease-out;
        -moz-animation: fadeInFromNone 2s ease-out;
        -o-animation: fadeInFromNone 2s ease-out;
        animation: fadeInFromNone 2s ease-out;
    }
</style>
<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>#</th>
        <th>Document Name</th>
    </tr>
    </thead>
    <tbody>
    <tr class="animate-row" ng-repeat="document in documents">
        <td>{{$index+1}}</td>
        <td>{{document.documentName}}</td>
    </tr>
    </tbody>
</table>