<div class="modal fade" id="mail-modal-{{tableId}}" tabindex="-1"
     role="dialog" aria-labelledby="mail-modal-label-{{tableId}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mail-modal-label-{{tableId}}">Send E-mail</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label for="subject" class="col-xs-3 control-label">Subject</label>
                    <div class="col-xs-9">
                        <input class="form-control" id="subject"
                               ng-model="mail.subject" required=""/>
                    </div>
                    <label for="recipient" class="col-xs-3 control-label">Recipient</label>
                    <div class="col-xs-9" ng-controller="PrincipalListController as ctrl" ng-init="currentPrincipal()">
                        <select id="recipient" class="form-control" ng-model="mail.recipient">
                            <option ng-repeat="p in principals" value="{{p.email}}">{{p.email}}</option>
                        </select>
                    </div>

                    <label for="message" class="col-xs-3 control-label">Message</label>
                    <div class="col-xs-9">
                        <textarea id="message" class="form-control" ng-model="mail.message"/>
                    </div>
                </div>
                <div class="row" style="margin-left: 15px;margin-right: 15px;">
                    <table style="margin-top: 10px;" class="table table-condensed table-hover"
                           st-table="displayCollection"
                           st-safe-src="fNames[tableId]">
                        <span us-spinner="{radius:30, width:8, length: 16}"></span>
                        <thead>
                        <tr class="info">
                            <th>File Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in displayCollection">
                            <td>{{row}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin:5px;" class="checkbox" style="margin:5px; float: right;">
                    <label>
                        <input ng-model="transmittal" type="checkbox"> Attach Transmittal
                    </label>
                </div>

                <div style="margin:5px;" class="checkbox" style="margin:5px; float: right;">
                    <label>
                        <input id="attachFiles" ng-model="attachFiles" type="checkbox"> Attach Files
                    </label>
                </div>

                <button type="button" class="btn btn-default" style="margin:5px; float: right;" ng-click="sendMail(attachFiles,transmittal)">Send</button>
                <button style="margin:5px; float: right;" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>