<div class="with-top-padding">
    <span us-spinner="{radius:30, width:8, length: 16}"></span>

        <!-- 1 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'classificationName'}">
                    <label class="col-xs-6 control-label">Classification Name</label>
                    <div class="col-xs-6">
                        <select ng-change="ctrl.onClassificationSelected()" name="classificationName"
                                ng-model="ctrl.model.classification.id"
                                class="form-control" required="">
                            <option ng-repeat="c in ctrl.classifications" value="{{c.id}}">{{c.name}}
                                ({{c.classificationId}})
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'classificationId'}">
                    <label class="col-xs-6 control-label">Classification Id</label>
                    <div class="col-xs-6">
                        <input ng-readonly="true" name="classificationId" disabled class="disabled form-control"
                               ng-model="ctrl.model.classification.classificationId" required=""/>
                    </div>
                </div>
            </div>

        </div>

        <!-- 2 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'name'}">
                    <label class="col-xs-6 control-label">Project Name</label>
                    <div class="col-xs-6">
                        <input name="name" class="form-control" ng-model="ctrl.model.name"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'symbol'}">
                    <label class="col-xs-6 control-label">Project Number</label>
                    <div class="col-xs-6">
                        <input name="symbol" class="form-control" ng-model="ctrl.model.symbol"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'startDate'}">
                    <label class="col-xs-6 control-label">Project Start Date</label>
                    <div class="col-xs-6">
                        <input name="startDate" class="form-control" ng-model="ctrl.model.startDate"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'customerInspectionDate'}">
                    <label class="col-xs-6 control-label">Customer Inspection Date</label>
                    <div class="col-xs-6">
                        <input name="customerInspectionDate" class="form-control"
                               ng-model="ctrl.model.customerInspectionDate"/>
                    </div>
                </div>
            </div>

        </div>

        <!-- 4 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'shipmentDate'}">
                    <label class="col-xs-6 control-label">Shipment Date</label>
                    <div class="col-xs-6">
                        <input name="shipmentDate" class="form-control" ng-model="ctrl.model.shipmentDate"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'deliveryDate'}">
                    <label class="col-xs-6 control-label">Delivery Date</label>
                    <div class="col-xs-6">
                        <input name="deliveryDate" class="form-control" ng-model="ctrl.model.deliveryDate"/>
                    </div>
                </div>
            </div>

        </div>

        <!-- 5 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'creationDate'}">
                    <label class="col-xs-6 control-label">Project Creation Date</label>
                    <div class="col-xs-6">
                        <input ng-readonly="true" name="creationDate" disabled class="disabled form-control"
                               ng-model="ctrl.model.creationDate"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'endDate'}">
                    <label class="col-xs-6 control-label">Project End Date</label>
                    <div class="col-xs-6">
                        <input name="endDate" class="form-control" ng-model="ctrl.model.endDate"/>
                    </div>
                </div>
            </div>

        </div>

        <!-- 6 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'principal'}">
                    <label class="col-xs-6 control-label">Project Created By</label>
                    <div class="col-xs-6">
                        <input ng-readonly="true" name="principal" disabled class="disabled form-control"
                               ng-model="ctrl.model.principal.email"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'pjcManager'}">
                    <label class="col-xs-6 control-label">Project Manager</label>
                    <div class="col-xs-6">
                        <select name="pjcManager" class="form-control" ng-model="ctrl.model.pjcManager.id">
                            <option ng-repeat="p in ctrl.principals" value="{{p.id}}">{{p.email}}</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>


        <!-- 7 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'masterNumber'}">
                    <label class="col-xs-6 control-label">Master Project Number</label>
                    <div class="col-xs-6">
                        <input ng-readonly="true" name="masterNumber" disabled class="disabled form-control"
                               ng-model="ctrl.model.masterNumber"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'tba'}">
                    <label class="col-xs-6 control-label">TBA</label>
                    <div class="col-xs-6">
                        <input name="tba" class="form-control" ng-model="ctrl.model.tba"/>
                    </div>
                </div>
            </div>

        </div>

        <!-- 8 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'value'}">
                    <label class="col-xs-6 control-label">Project Value</label>
                    <div class="col-xs-6">
                        <input name="value" class="form-control" ng-model="ctrl.model.value"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'cost'}">
                    <label class="col-xs-6 control-label">Project Cost</label>
                    <div class="col-xs-6">
                        <input name="cost" class="form-control" ng-model="ctrl.model.cost"/>
                    </div>
                </div>
            </div>

        </div>

        <!-- 9 ROW -->

        <div class="row">

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'grossMargin'}">
                    <label class="col-xs-6 control-label">Project Gross Margin</label>
                    <div class="col-xs-6">
                        <input name="grossMargin" class="form-control" ng-model="ctrl.model.grossMargin"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group" cg-validate="{form: ctrl.modelForm, field: 'comments'}">
                    <label class="col-xs-6 control-label">Internal Comments</label>
                    <div class="col-xs-6">
                        <input name="comments" class="form-control" ng-model="ctrl.model.comments"/>
                    </div>
                </div>
            </div>

        </div>

        <!-- BUTTONS -->

        <div class="row">

            <div class="col-xs-12 text-right">
                <button class="btn btn-xs btn-primary" ng-click="ctrl.saveModel()">Save</button>
            </div>

        </div>

</div>