<div style="height:900px;" class="with-top-padding">

    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th colspan="6" class="text-right">
                <div ng-if="ctrl.project.id != null" data-toggle="modal" data-target="#link-modal-{{ctrl.project.id}}"
                     class="btn btn-info btn-xs">Link document
                </div>
            </th>
        </tr>
        <tr class="info">
            <th>Link Type</th>
            <th>Classification ID</th>
            <th>Classification Name</th>
            <th>Document Number</th>
            <th>Revision</th>
            <th>Document Title</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="link in ctrl.project.links" ng-click="ctrl.openDic(link.documentInfo.id)">
                <td>{{link.linkType}}</td>
                <td>
                    {{link.documentInfo.classification.classificationId}}
                </td>
                <td>
                    {{link.documentInfo.classification.name}}
                </td>
                <td>
                    {{link.documentInfo.documentNumber}}
                </td>
                <td>
                    {{link.documentInfo.revision.effective}}
                </td>
                <td>{{link.documentName}}
                </td>
        </tr>
        </tbody>

    </table>

</div>

<ng-include src="'/partials/project/details/link-modal.html'"></ng-include>