<div class="row">
    <div class="col-xs-12">

        <ul class="nav nav-pills" role="tablist" id="project-details-tabs-{{ctrl.model.id}}">
            <li role="presentation" class="active"><a href="#project-metadata-{{ctrl.model.id}}"
                                                      aria-controls="project-metadata-{{ctrl.model.id}}" role="tab"
                                                      data-toggle="tab">Metadata</a></li>
            <li role="presentation"><a href="#project-client-{{ctrl.model.id}}"
                                       aria-controls="project-client-{{ctrl.model.id}}" role="tab"
                                       data-toggle="tab">Client</a></li>
            <li role="presentation" class=""><a href="#project-docs-{{ctrl.model.id}}"
                                                aria-controls="project-docs-{{ctrl.model.id}}" role="tab"
                                                data-toggle="tab">Documents</a></li>
            <li role="presentation" class=""><a href="#project-products-{{ctrl.model.id}}"
                                                aria-controls="project-products-{{ctrl.model.id}}" role="tab"
                                                data-toggle="tab">Products</a></li>
        </ul>

        <form name="ctrl.modelForm" class="form-horizontal">
            <div class="tab-content" id="project-details-tabs-{{ctrl.model.id}}-content">
                <div role="tabpanel" class="tab-pane active" id="project-metadata-{{ctrl.model.id}}">
                    <ng-include src="'/partials/project/details/info-tab.html'"></ng-include>
                </div>
                <div role="tabpanel" class="tab-pane" id="project-client-{{ctrl.model.id}}">
                    <ng-include src="'/partials/project/details/client-tab.html'"></ng-include>
                </div>
                <div style="height: 900px;" role="tabpanel" class="tab-pane" id="project-docs-{{ctrl.model.id}}">
                    <ng-include ng-controller="LinkController as linkCtrl"
                                ng-init="linkCtrl.withRevision=true;linkCtrl.getLinks(ctrl.model,'project','DOCUMENT')"
                                src="'/partials/common/dic-links.html'"></ng-include>
                </div>
                <div style="height: 900px;" role="tabpanel" class="tab-pane" id="project-products-{{ctrl.model.id}}">
                    <ng-include ng-controller="LinkController as linkCtrl"
                                ng-init="linkCtrl.classification=false;linkCtrl.getLinks(ctrl.model,'project','PRODUCT')"
                                src="'/partials/common/pic-links.html'"></ng-include>
                </div>
            </div>
        </form>
    </div>
</div>