<table class="table table-condensed table-hover" st-table="displayCollection" st-safe-src="documents">
    <span us-spinner="{radius:30, width:8, length: 16}"></span>
    <thead>
    <tr class="info">
        <th>#</th>
        <th>Classification ID</th>
        <th>Classification Name</th>
        <th>Document Number</th>
        <th>Document Type</th>
        <th st-sort="documentName">Document Name</th>
        <th>Creation Date</th>
        <th>Created By</th>
        <th># Files</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="10"><input st-search placeholder="Search" class="input-sm form-control" type="search"/>
        </td>
    </tr>
    <tr class="animate-row"
        ng-repeat="row in displayCollection" add-tab documentId="{{row.id}}" documntName="{{row.documentName}}">
        <td>{{$index+1}}</td>
        <td>{{row.classification.classificationId}}</td>
        <td>{{row.classification.name}}</td>
        <td>{{row.documentNumber}}</td>
        <td>{{row.type}}</td>
        <td>{{row.documentName}}</td>
        <td>{{row.creationDate}}</td>
        <td>{{row.createdBy.email}}</td>
        <td>{{row.files.length}}</td>
        <td style="z-index: 100;">
            <button ng-click="delete(row.id)" class="btn btn-danger btn-xs">Delete
            </button>
            <button ng-click="copy(row.id)" class="btn btn-info btn-xs">Copy
            </button>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="8"></td>
        <td colspan="2" class="text-right">
            <label for="itemsPerPage">Items per page</label>
            <input id="itemsPerPage" class="form-control input-sm" ng-model="itemsPerPage"/>
        </td>
    </tr>
    <tr>
        <td colspan="10" class="text-center">
            <div st-pagination="" st-items-by-page="itemsPerPage" st-displayed-pages="3"></div>
        </td>
    </tr>
    </tfoot>
</table>