<span ng-controller="DomainController">
<!-- HEADER -->

<ng-include src="'/partials/common/header.html'"></ng-include>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <ul id="domainTabs" class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab"
                                                          data-toggle="tab">Account Info</a></li>
                <li role="presentation" class=""><a href="#users" aria-controls="users" role="tab"
                                                    data-toggle="tab">Users</a></li>
                <li role="presentation" class=""><a href="#setup" aria-controls="setup" role="tab"
                                                    data-toggle="tab">Setup</a></li>
                <li role="presentation" class=""><a disabled href="#classifications" aria-controls="templates" role="tab"
                                                    data-toggle="tab">Classifications</a></li>
                <li role="presentation" class=""><a disabled href="#templates" aria-controls="templates" role="tab"
                                                    data-toggle="tab">Templates</a></li>
            </ul>

            <div class="tab-content" id="domainTabsContent">
                <div role="tabpanel" class="tab-pane active" id="info">
                    <ng-include src="'/partials/domain/info-tab.html'"></ng-include>
                </div>
                <div role="tabpanel" class="tab-pane" id="users">
                    <ng-include src="'/partials/domain/users-tab.html'"></ng-include>
                </div>
                <div role="tabpanel" class="tab-pane" id="classifications">
                    <ng-include src="'/partials/domain/setup/classification.html'"></ng-include>
                </div>
                <div role="tabpanel" class="tab-pane" id="templates">
                    <ng-include src="'/partials/domain/templates-tab.html'"></ng-include>
                </div>
                <div role="tabpanel" class="tab-pane" id="setup">
                    <ng-include src="'/partials/domain/setup-tab.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>

</span>