<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-10 col-xs-offset-1">

        <div class="col-xs-3">
            <div class="form-group">
                <label for="noOfUsers" class="col-xs-6 control-label"># Users</label>
                <div class="col-xs-6">
                    <input placeholder="noOfUsers" class="form-control disabled" id="noOfUsers"
                           ng-model="domain.noOfUsers" disabled ng-readonly="true"/>
                </div>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <label for="noOfFiles" class="col-xs-6 control-label"># Files</label>
                <div class="col-xs-6">
                    <input placeholder="noOfFiles" class="form-control disabled" id="noOfFiles"
                           ng-model="domain.noOfFiles" disabled ng-readonly="true"/>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label for="memory" class="col-xs-3 control-label">Memory used</label>
                <div class="col-xs-9">
                    <div class="input-group">
                        <input placeholder="memory" class="form-control disabled" id="memory"
                               ng-model="domain.memory" disabled ng-readonly="true"/>
                        <span class="input-group-addon">kB</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-10 col-xs-offset-1">

        <div class="col-xs-6">
            <div class="form-group">
                <label for="name" class="col-xs-4 control-label">Account Super User</label>
                <div class="col-xs-8">
                    <input placeholder="Name" class="form-control" id="name"
                           ng-model="domain.name" disabled ng-readonly="true" required=""/>
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input id="active" ng-model="domain.active" type="checkbox" required=""> Active
                    </label>
                </div>
            </div>
        </div>

        <div class="col-xs-5">
            <div class="form-group">
                <label for="creationDate" class="col-xs-4 control-label">Creation Date</label>
                <div class="col-xs-8">
                    <input placeholder="Name" class="form-control disabled" id="creationDate"
                           ng-model="domain.creationDate" disabled ng-readonly="true"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-10 col-xs-offset-1">

        <div class="col-xs-6">
            <div class="form-group">
                <label for="company" class="col-xs-4 control-label">Company</label>
                <div class="col-xs-8">
                    <input placeholder="Company" class="form-control disabled" id="company"
                           ng-model="domain.company" disabled ng-readonly="true"/>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label for="Website" class="col-xs-4 control-label">Website</label>
                <div class="col-xs-8">
                    <input placeholder="Website" class="form-control disabled" id="Website"
                           ng-model="domain.owner.url" disabled ng-readonly="true"/>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-10 col-xs-offset-1">

        <div class="col-xs-6">
            <div class="form-group">
                <label for="Country" class="col-xs-4 control-label">Country</label>
                <div class="col-xs-8">
                    <input placeholder="Country" class="form-control disabled" id="Country"
                           ng-model="domain.owner.country" disabled ng-readonly="true"/>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label for="Phone number" class="col-xs-4 control-label">Phone number</label>
                <div class="col-xs-8">
                    <input placeholder="Phone number" class="form-control disabled" id="Phone number"
                           ng-model="domain.owner.phone" disabled ng-readonly="true"/>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-10 col-xs-offset-1">

        <div class="col-xs-6">
            <div class="form-group">
                <label for="Country" class="col-xs-4 control-label">First Name</label>
                <div class="col-xs-8">
                    <input placeholder="First Name" class="form-control disabled" id="First Name"
                           ng-model="domain.owner.firstName" disabled ng-readonly="true"/>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label for="Country" class="col-xs-4 control-label">Last Name</label>
                <div class="col-xs-8">
                    <input placeholder="Last Name" class="form-control disabled" id="Last Name"
                           ng-model="domain.owner.lastName" disabled ng-readonly="true"/>
                </div>
            </div>
        </div>

    </div>
</div>