<div class="row">
    <div class="col-xs-10 col-xs-offset-1">

        <table class="table table-condensed table-hover" st-table="displayCollection" st-safe-src="types">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
            <thead>
            <tr>
                <th colspan="2"></th>
                <th class="text-right">
                    <button class="btn btn-primary btn-xs" data-toggle="modal"
                            data-target="#add-doc-type-modal">Add Type
                    </button>
                </th>
            </tr>
            <tr class="info">
                <th class="text-left">Type</th>
                <th class="text-left">ID</th>
                <th class="text-left">Active</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="3"><input st-search placeholder="Search" class="input-sm form-control" type="search"/>
                </td>
            </tr>
            <tr ng-repeat="row in displayCollection" class="animate-row" ng-attr-class="{{row.active==true && 'animate-row active' || 'animate-row' }}">
                <td class="text-left">{{row.name}}</td>
                <td class="text-left">{{row.typeId}}</td>
                <td class="text-left"><input type="checkbox" ng-model="row.active" ng-change="toggleDocType(row)"/></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<ng-include src="'/partials/domain/add-doc-type-modal.html'"></ng-include>