<div class="row">
    <div class="col-xs-10 col-xs-offset-1">

        <table class="table table-condensed table-hover" st-table="displayCollection" st-safe-src="domain.principals">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
            <thead>
            <tr>
                <th colspan="8"></th>
                <th class="text-right">
                    <button class="btn btn-primary btn-xs" data-toggle="modal"
                            data-target="#add-user-modal">Add user
                    </button>
                </th>
            </tr>
            <tr class="info">
                <th class="text-center">#</th>
                <th st-sort="acronym" class="text-center">Acronym</th>
                <th st-sort="email" class="text-center">Email</th>
                <th st-sort="firstName" class="text-center">First Name</th>
                <th st-sort="lastName" class="text-center">Last Name</th>
                <th st-sort="creationDate" class="text-center">Creation Date</th>
                <th class="text-center">Active</th>
                <th st-sort="role" class="text-center">User Group</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="9"><input st-search placeholder="Search" class="input-sm form-control" type="search"/>
                </td>
            </tr>
            <tr class="animate-row"
                ng-repeat="row in displayCollection">
                <td class="text-center">{{$index+1}}</td>
                <td class="text-center">{{row.acronym}}</td>
                <td class="text-center">{{row.email}}</td>
                <td class="text-center">{{row.firstName}}</td>
                <td class="text-center">{{row.lastName}}</td>
                <td class="text-center">{{row.creationDate}}</td>
                <td class="text-center"><input type="checkbox" ng-model="row.active" ng-change="changeActive(row)"/>
                </td>
                <td>
                    <div ng-if="row.role != 'GLOBAL_ADMIN'">
                        <select name="role-{{row.id}}" class="form-control" class="form-control" ng-model="row.role"
                                id="role-{{row.id}}"
                                ng-change="changeRole(row)">
                            <option value="ADMIN">Admin</option>
                            <option value="USER">User</option>
                            <option value="DOCUMENT_CONTROL">Document Control</option>
                            <option value="SALES">Sales</option>
                            <option value="MANAGEMENT">Management</option>
                        </select>
                    </div>
                    <div ng-if="row.role == 'GLOBAL_ADMIN'">
                        <input value="Global Admin" disabled class="form-control"/>
                    </div>
                </td>
                <td ng-controller="PrincipalController" class="text-center" style="z-index: 100;">
                    <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#edit-user-modal-{{row.id}}">Edit</button>
                    <ng-include ng-init="setPrincipal(row)" src="'/partials/domain/edit-user-modal.html'"></ng-include>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8"></td>
                <td colspan="1" class="text-right">
                    <label for="itemsPerPage">Items per page</label>
                    <input id="itemsPerPage" class="form-control input-sm" ng-model="itemsPerPage"/>
                </td>
            </tr>
            <tr>
                <td colspan="9" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsPerPage" st-displayed-pages="3"></div>
                </td>
            </tr>
            </tfoot>
        </table>

    </div>
</div>

<ng-include src="'/partials/domain/add-user-modal.html'"></ng-include>