<div class="row">
    <div class="col-xs-12">

        <ul class="nav nav-pills" role="tablist" id="product-details-tabs-{{ctrl.model.id}}">
            <li role="presentation" class="active"><a href="#product-info-{{ctrl.model.id}}" aria-controls="product-info-{{ctrl.model.id}}" role="tab"
                                                      data-toggle="tab">Product Info</a></li>
            <li role="presentation" class=""><a href="#product-docs-{{ctrl.model.id}}" aria-controls="product-docs-{{ctrl.model.id}}" role="tab"
                                                data-toggle="tab">Documents</a></li>
        </ul>

        <div class="tab-content" id="product-details-tabs-{{ctrl.model.id}}-content" >
            <div role="tabpanel" class="tab-pane active" id="product-info-{{ctrl.model.id}}">
                <ng-include src="'/partials/product/details/info-tab.html'"></ng-include>
            </div>
            <div style="height: 900px;" role="tabpanel" class="tab-pane" id="product-docs-{{ctrl.model.id}}">
                <ng-include ng-controller="LinkController as linkCtrl" ng-init="linkCtrl.withRevision=true; linkCtrl.getLinks(ctrl.model,'product',true)" src="'/partials/common/dic-links.html'"></ng-include>
            </div>
        </div>

    </div>
</div>