<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

   <!-- <aop:aspectj-autoproxy/>

    <bean name="authorizingAspect" class="AuthorizingAspect">
        <constructor-arg name="filePath" value="permissions.xml"/>
    </bean>

    <aop:config>
        <aop:aspect ref="authorizingAspect" id="authorizingAspectConfig" order="1">
            <aop:pointcut expression="execution(* .service..*(..))" id="servicePointcut"/>
            <aop:around method="authorize" arg-names="joinPoint" pointcut-ref="servicePointcut"/>
        </aop:aspect>
    </aop:config>
-->
</beans>
