<!-- HEADER -->

<ng-include src="'/partials/common/header.html'"></ng-include>

<!-- CONTENT -->

<div class="row" ng-controller="DomainListController as ctrl" ng-init="ctrl.getModels()">
    <div class="col-xs-6 col-xs-offset-3">

        <table class="table table-condensed table-hover" st-table="displayCollection" st-safe-src="ctrl.models">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
            <thead>
            <tr>
                <th colspan="7"></th>
                <th class="text-right">
                    <div data-toggle="modal" data-target="#add-domain-modal"
                         class="btn btn-info btn-xs">Add Domain
                    </div>
                </th>
            </tr>
            <tr class="info">
                <th st-sort="accountNo">Account number</th>
                <th st-sort="company">Company</th>
                <th st-sort="name">Domain Name</th>
                <th st-sort="creationDate">Creation Date</th>
                <th>Active</th>
                <th st-sort="noOfFiles"># Files</th>
                <th st-sort="memory">Memory Used</th>
                <th st-sort="noOfUsers"># Users</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="8"><input st-search placeholder="Search" class="input-sm form-control" type="search"/>
                </td>
            </tr>
            <tr class="animate-row"
                ng-repeat="row in displayCollection" cg-open-domain="row.id">
                <td>{{row.accountNo}}</td>
                <td>{{row.company}}</td>
                <td>{{row.name}}</td>
                <td>{{row.creationDate}}</td>
                <td><input type="checkbox" ng-model="row.active" ng-change="ctrl.toggleActive(row)"/></td>
                <td>{{row.noOfFiles}}</td>
                <td>{{row.memory}}GB</td>
                <td>{{row.noOfUsers}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7"></td>
                <td colspan="1" class="text-right">
                    <label for="itemsPerPage">Items per page</label>
                    <input id="itemsPerPage" class="form-control input-sm" ng-model="ctrl.settings.itemsPerPage" ng-change="ctrl.settings.update()"/>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="text-center">
                    <div st-pagination="" st-items-by-page="ctrl.settings.itemsPerPage"
                         st-template="/partials/document/list/pagination.html"></div>
                </td>
            </tr>
            </tfoot>
        </table>

    </div>
</div>

<ng-include src="'/partials/gadmin/add-domain-modal.html'"></ng-include>