<div class="row" ng-controller="DocTypeController" ng-init="getTypes()">
    <div class="col-xs-10 col-xs-offset-1">

        <table class="table table-condensed table-hover" st-table="displayCollection" st-safe-src="types">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
            <thead>
            <tr>
                <th colspan="3"></th>
                <th class="text-right">
                    <button class="btn btn-primary btn-xs" data-toggle="modal"
                            data-target="#add-doc-type-0-modal">Add Type
                    </button>
                </th>
            </tr>
            <tr class="info">
                <th st-sort="name" class="text-left">Document Type</th>
                <th st-sort="typeId" class="text-left">Document Type ID</th>
                <th class="text-left">Active</th>
                <th class="text-left">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="4"><input st-search placeholder="Search" class="input-sm form-control" type="search"/>
                </td>
            </tr>
            <tr ng-repeat="row in displayCollection" class="animate-row" ng-attr-class="{{row.active==true && 'animate-row active' || 'animate-row' }}">
                <td class="text-left">{{row.name}}</td>
                <td class="text-left">{{row.typeId}}</td>
                <td class="text-left"><input type="checkbox" ng-model="row.active" ng-change="toggleDocType(row)"/></td>
                <td class="text-left">
                    <button ng-if="row.defaultValue == false" class="btn btn-warning btn-xs" data-toggle="modal"
                            data-target="#add-doc-type-{{row.id}}-modal">Edit
                    </button>
                    <button ng-if="row.defaultValue == false" class="btn btn-danger btn-xs" ng-click="remove(row)">Delete
                    </button>
                    <div ng-if="row.defaultValue == false" ng-include="'/partials/domain/setup/add-doc-type-modal.html'" ng-controller="DocTypeController" ng-init="docType=row;"></div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<ng-include src="'/partials/domain/setup/add-doc-type-modal.html'" ng-controller="DocTypeController" ng-init="docType={id:0};"></ng-include>