<div class="row">
    <div class="col-xs-10 col-xs-offset-1">

        <table class="table table-condensed table-hover">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
            <thead>
            <tr class="info">
                <th class="text-left">Security Group</th>
            </tr>
            </thead>
            <tbody>
            <tr class="animate-row">
                <td class="text-left">User</td>
            </tr>
            <tr class="animate-row">
                <td class="text-left">Document Control</td>
            </tr>
            <tr class="animate-row">
                <td class="text-left">Sales</td>
            </tr>
            <tr class="animate-row">
                <td class="text-left">Management</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>