<table class="table table-condensed table-hover with-top-margin" st-table="displayCollection"
       st-safe-src="ctrl.models">
    <span us-spinner="{radius:30, width:8, length: 16}"></span>
    <thead>
    <tr class="info">
        <th></th>
        <th st-sort="name">Product Line</th>
        <th st-sort="name">Product Family</th>
        <th st-sort="name">Product Group</th>
        <th st-sort="name">Product Model Name</th>
        <th st-sort="name">Product Model ID</th>
        <th st-sort="name">Status</th>
        <th st-sort="name">Product Responsible</th>
        <th st-sort="name"># number of Doc</th>
        <th st-sort="name"># number of Archived Doc</th>
        <th st-sort="name"># number of In Progress Doc</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="11"><input st-search placeholder="Search" class="input-sm form-control" type="search"/>
        </td>
    </tr>
    <tr cg-add-tab="{open : true, id: row.id, name: row.name, tabsId:'product-tabs', factory:'product',onChildren:true, except: [0]}" class="animate-row" ng-repeat="row in displayCollection">
        <td cs-select="row"></td>
        <td>{{row.productLine}}</td>
        <td>{{row.productFamily}}</td>
        <td>{{row.productGroup}}</td>
        <td>{{row.name}}</td>
        <td>{{row.productId}}</td>
        <td>{{row.state}}</td>
        <td>{{row.responsibleUser.acronym}}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="10"></td>
        <td colspan="1" class="text-right">
            <label for="itemsPerPage">Items per page</label>
            <input id="itemsPerPage" class="form-control input-sm" ng-model="ctrl.settings.itemsPerPage" ng-change="ctrl.settings.update()"/>
        </td>
    </tr>
    <tr>
        <td colspan="11" class="text-center">
            <div st-pagination="" st-items-by-page="ctrl.settingsN.itemsPerPage"
                 st-template="/partials/document/list/pagination.html"></div>
        </td>
    </tr>
    </tfoot>
</table>