<table class="table table-condensed table-hover with-top-margin" st-table="displayCollection"
       st-safe-src="ctrl.projects">
    <span us-spinner="{radius:30, width:8, length: 16}"></span>
    <thead>
    <tr class="info">
        <th></th>
        <th st-sort="name">Project number</th>
        <th st-sort="name">Project name</th>
        <th st-sort="name">Project Manager</th>
        <th st-sort="name">Client</th>
        <th st-sort="name">Project start date</th>
        <th st-sort="name">Project end date</th>
        <th st-sort="name">Project value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="8"><input st-search placeholder="Search" class="input-sm form-control" type="search"/>
        </td>
    </tr>
    <tr cg-add-tab="{open : true, id: row.id, name: row.name, tabsId:'project-tabs', factory:'project',onChildren:true, except: [0]}" class="animate-row" ng-repeat="row in displayCollection">
        <td cs-select="row"></td>
        <td>{{row.symbol}}</td>
        <td>{{row.name}}</td>
        <td>{{row.pjcManager.email}} ({{row.pjcManager.acronym}})</td>
        <td>{{row.clientName}}</td>
        <td>{{row.startDate}}</td>
        <td>{{row.endDate}}</td>
        <td>{{row.value}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="7"></td>
        <td colspan="1" class="text-right">
            <label for="itemsPerPage">Items per page</label>
            <input id="itemsPerPage" class="form-control input-sm" ng-model="ctrl.settings.itemsPerPage" ng-change="ctrl.settings.update()"/>
        </td>
    </tr>
    <tr>
        <td colspan="8" class="text-center">
            <div st-pagination="" st-items-by-page="ctrl.settings.itemsPerPage"
                 st-template="/partials/document/list/pagination.html"></div>
        </td>
    </tr>
    </tfoot>
</table>