<div class="row">
    <div class="col-xs-10 col-xs-offset-1">

        <table class="table table-condensed table-hover">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
            <thead>
            <tr class="info">
                <th class="text-left"></th>
                <th class="text-left">Admin Area</th>
                <th class="text-left">Document Module</th>
                <th class="text-left">Product Module</th>
                <th class="text-left">Quotation Module</th>
                <th class="text-left">Project Module</th>
            </tr>
            </thead>
            <tbody>
            <tr class="animate-row">
                <td class="text-left"><b>Admin</b></td>
                <td class="text-left">Access</td>
                <td class="text-left">Access</td>
                <td class="text-left">Access</td>
                <td class="text-left">Access</td>
                <td class="text-left">Access</td>
            </tr>
            <tr class="animate-row">
                <td class="text-left"><b>User</b></td>
                <td class="text-left"></td>
                <td class="text-left">Access</td>
                <td class="text-left"></td>
                <td class="text-left"></td>
                <td class="text-left">Access</td>
            </tr>
            <tr class="animate-row">
                <td class="text-left"><b>Sales</b></td>
                <td class="text-left"></td>
                <td class="text-left">Access</td>
                <td class="text-left">Access</td>
                <td class="text-left">Access</td>
                <td class="text-left">Access</td>
            </tr>
            <tr class="animate-row">
                <td class="text-left"><b>Management</b></td>
                <td class="text-left"></td>
                <td class="text-left">Access</td>
                <td class="text-left">Access</td>
                <td class="text-left">Access</td>
                <td class="text-left">Access</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>