<div class="row">
    <div class="col-xs-10 col-xs-offset-1">

        <table class="table table-condensed table-hover">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
            <thead>
            <tr class="info">
                <th class="text-left">Product Life Cycle</th>
            </tr>
            </thead>
            <tbody>
            <tr class="animate-row">
                <td class="text-left"><b>Development</b></td>
            </tr>
            <tr class="animate-row">
                <td class="text-left"><b>Introduction</b></td>
            </tr>
            <tr class="animate-row">
                <td class="text-left"><b>Growth</b></td>
            </tr>
            <tr class="animate-row">
                <td class="text-left"><b>Maturity</b></td>
            </tr>
            <tr class="animate-row">
                <td class="text-left"><b>Decline</b></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>