<div id="add-domain-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-domain-modal-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="add-domain-modal-label">Add Domain</h4>
            </div>
            <div class="modal-body">
                <ng-include src="'/partials/auth/sign-up.html'"></ng-include>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>