<!-- HEADER -->

<ng-include src="'/partials/common/header.html'"></ng-include>

<!-- CONTENT -->

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">

        <table class="table table-condensed table-hover" st-table="displayCollection" st-safe-src="domains">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
            <thead>
            <tr>
                <th colspan="7"></th>
                <th class="text-right">
                    <div data-toggle="modal" data-target="#add-domain-modal"
                         class="btn btn-info btn-xs">Add Domain
                    </div>
                </th>
            </tr>
            <tr class="info">
                <th>Account number</th>
                <th>Company</th>
                <th>Domain Name</th>
                <th>Creation Date</th>
                <th>Active</th>
                <th># Files</th>
                <th>Memory Used</th>
                <th># Users</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="8"><input st-search placeholder="Search" class="input-sm form-control" type="search"/>
                </td>
            </tr>
            <tr class="animate-row"
                ng-repeat="row in displayCollection" add-tab documentId="{{row.id}}" documntName="{{row.documentName}}">
                <td ng-click="openDomain(row.id)">{{$index+1}}</td>
                <td ng-click="openDomain(row.id)">{{row.company}}</td>
                <td ng-click="openDomain(row.id)">{{row.name}}</td>
                <td ng-click="openDomain(row.id)">{{row.creationDate}}</td>
                <td><input type="checkbox" ng-model="row.active" ng-change="toggleActive(row)"/></td>
                <td ng-click="openDomain(row.id)">{{row.noOfFiles}}</td>
                <td ng-click="openDomain(row.id)">{{row.memory}}kB</td>
                <td ng-click="openDomain(row.id)">{{row.noOfUsers}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7"></td>
                <td colspan="1" class="text-right">
                    <label for="itemsPerPage">Items per page</label>
                    <input id="itemsPerPage" class="form-control input-sm" ng-model="itemsPerPage"/>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsPerPage" st-displayed-pages="3"></div>
                </td>
            </tr>
            </tfoot>
        </table>

    </div>
</div>

<ng-include src="'/partials/admin/add-domain-modal.html'"></ng-include>