<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-10 col-xs-offset-1">

        <div class="col-xs-3">
            <div class="form-group">
                <label for="noOfUsers" class="col-xs-6 control-label"># Users</label>
                <div class="col-xs-6">
                    <input placeholder="noOfUsers" class="form-control disabled" id="noOfUsers"
                           ng-model="domain.noOfUsers" disabled ng-readonly="true"/>
                </div>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <label for="noOfFiles" class="col-xs-6 control-label"># Files</label>
                <div class="col-xs-6">
                    <input placeholder="noOfFiles" class="form-control disabled" id="noOfFiles"
                           ng-model="domain.noOfFiles" disabled ng-readonly="true"/>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label for="memory" class="col-xs-3 control-label">Memory used</label>
                <div class="col-xs-9">
                    <div class="input-group">
                        <input placeholder="memory" class="form-control disabled" id="memory"
                               ng-model="domain.memory" disabled ng-readonly="true"/>
                        <span class="input-group-addon">GB</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-10 col-xs-offset-1">

        <div class="col-xs-6">
            <div class="form-group">
                <label for="name" class="col-xs-4 control-label">Account Super User</label>
                <div class="col-xs-8">
                    <select ng-change="ctrl.changeSU()" class="form-control" id="name" name="name" ng-model="domain.owner.id">
                        <option ng-repeat="p in ctrl.principals" value="{{p.id}}">{{p.email}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label for="creationDate" class="col-xs-4 control-label">Creation Date</label>
                <div class="col-xs-8">
                    <input placeholder="Name" class="form-control disabled" id="creationDate"
                           ng-model="domain.creationDate" disabled ng-readonly="true"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-10 col-xs-offset-1">

        <div class="col-xs-6">
            <div class="form-group">
                <label for="company" class="col-xs-4 control-label">Company</label>
                <div class="col-xs-8">
                    <input placeholder="Company" class="form-control" id="company"
                           ng-model="domain.company"/>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label for="Website" class="col-xs-4 control-label">Website</label>
                <div class="col-xs-8">
                    <input placeholder="Website" class="form-control" id="Website"
                           ng-model="domain.url"/>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-10 col-xs-offset-1">

        <div class="col-xs-6">
            <div class="form-group">
                <label for="Country" class="col-xs-4 control-label">Country</label>
                <div class="col-xs-8">
                    <select class="form-control" id="country" name="country" ng-model="domain.country">
                        <option ng-repeat="c in ctrl.countries" value="{{c.name}}">{{c.name}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label for="Phone number" class="col-xs-4 control-label">Phone number</label>
                <div class="col-xs-8">
                    <input placeholder="Phone number" class="form-control" id="Phone number"
                           ng-model="domain.phone"/>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-10 col-xs-offset-1">

        <div class="col-xs-6">
            <div class="form-group">
                <label for="Country" class="col-xs-4 control-label">First Name</label>
                <div class="col-xs-8">
                    <input placeholder="First Name" class="form-control disabled" id="First Name"
                           ng-model="domain.owner.firstName" disabled ng-readonly="true"/>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label for="Country" class="col-xs-4 control-label">Last Name</label>
                <div class="col-xs-8">
                    <input placeholder="Last Name" class="form-control disabled" id="Last Name"
                           ng-model="domain.owner.lastName" disabled ng-readonly="true"/>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-10 col-xs-offset-1">

        <div class="col-xs-12 text-right">
            <a class="btn-sm btn btn-primary" ng-click="ctrl.save()">Save</a>
        </div>

    </div>
</div>
